<h1>Create a human like object who is interested in music</h1>
<form action="<%= users_url %>" method="post">
  <label>Email</label>
  <input type="text" name="user[email]">
  <br><br>
  <label>Password</label>
  <input type="password" name="user[password]">
  <br><br>
  <input type="submit" value="Make">
</form>