div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
  display: inline-block;
}

p + div {
  height: auto;
  min-height: 10px; 
  max-height: 400px;
  /* grid-template-columns: minmax(10px, max-content); */
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

p {
  background-color: #7fdbff;
}

.image-1-container {
  width: 100%;
  background-color: blue;
}

.image-2-container {
  width: inherit;

}
