/* PHASE 3: Layout */

.content {
  display: flex;
  margin: 10px;
}

.content-sidebar {
  min-height: 200px;
  width: 33%;
  padding: 5px;
  background-color: royalblue;
}

.content-main {
  min-height: 200px;
  width: 64%;
  padding: 5px;
  background-color: red;
}

footer {
    color: grey;
    display: flex;
    justify-content: space-between;

}

footer ul li:hover {
    color: black;
    text-decoration: underline;
}

footer ul li {
    display: inline-block;
}





