<h1>Dis a Sesh BOi,,, log da shiz IN</h1>

<form action="<%= session_url %>" method="post">
<label>Username</label>
<input type="text" name="user[email]">
<br><br>
<label>Password</label>
<input type="text" name="user[password]">
<br><br>
<input type="submit" value="do it boi">
</form>